/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 60%;
    margin: 0 auto;
}


/*header*/

header{
    padding-left: 20px;
    padding-top: 15px;
    margin-bottom: 80px;
}

.logo, h1 {
    display: inline-block;
    font-size: 45px;
    vertical-align: middle;
}

header div img{
    vertical-align: middle;
    height: 50px;
    width: 50px;
    line-height: 50px;
}

/*section*/

button, input{
    padding: 8px 10px;
    border-radius: 10px;
}

input{
    border: rgb(148, 154, 158) solid 1px;
}

button{
    color: white;
    background-color: rgb(38, 160, 241);
    border: rgb(38, 160, 241) solid ;
    border-radius: 10px;
}

.line{
    margin-bottom: 25px;
}

.main-section{
    margin-bottom: 60px;
}

h3{
    margin-bottom: 16px;
}

.check-mark{
    color: green;
    background-color: white;
    border: green solid 1px;
    border-radius: 100%;
    padding: 3px;
    font-size: 10px;
    margin-right: 11px;
}

.cross{
    color: red;
    background-color: white;
    border: red solid 1px;
    border-radius: 100%;
    padding: 3px;
    font-size: 10px;
    margin-right: 11px;
}

.action-button{
    margin-bottom: 50px;
}

.label{
    border-radius: 22px;
    padding: 5px;
    font-size: 10px;
    color: white;
}

.label.editorial{
    background-color:rgb(38, 160, 241);
    border:rgb(38, 160, 241) solid 1px;
}

.label.Q1-Goals{
    background-color:rgb(122, 43, 196);
    border:rgb(122, 43, 196) solid 1px;
}

.label.Recruiting{
    background-color:rgb(43, 190, 141);
    border:rgb(43, 190, 141) solid 1px;
}

.label.Mobile{
    background-color:rgb(230, 162, 18);
    border:rgb(230, 162, 18) solid 1px;
}

.label.Website{
    background-color:rgb(151, 23, 141);
    border:rgb(151, 23, 141) solid 1px;
}

.label.Sales{
    background-color:rgb(84, 160, 33);
    border:rgb(84, 160, 33) solid 1px;
}